*{margin:0; padding:0; color: #131313; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
html, body{height:100%; font-size:14px; font-family: "PingFangSC-Regular, sans-serif, Microsoft Yahei"}/*, SourceHanSans-Normal,-apple-system,Helvetica Neue,PingFang SC,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Source Han Sans TC,"Microsoft Yahei",sans-serif,Verdana, Arial, Helvetica;*/
a, a:hover, a:active, a:visited,a:focus{text-decoration:none;}
img{border:none; vertical-align:top;}
input, select, textarea{outline:0; resize:none;}/*vertical-align:top;*/
ol, ul, li{list-style:none;}
p{word-wrap:break-word;}

.wrap{position:relative; width:1180px; margin:0 auto;}
.pointer{cursor:pointer;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; display:block; content:'';}
.phcolor{color:#aaa;}
.bg-f6f6f6{background:#F6F6F6;}
.ellipsis{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.b-index *, .b-bass *, .bm-case *, .b-contact *, .b-milestone *, .b-job *, .b-company *, .b-newslist *, .header *, .footer *{font-weight: 200;}
area{cursor:pointer;}
a{transition:all 0.5s}
.btn{display:block; height:40px; line-height:38px; text-align:center; border:1px solid #fff; cursor:pointer;}
.icon2{background:url(../images/sprites_v7.png);}
a:hover {color: #45cdab;}
.highlight {color: #45cdab;}
.page {
    position: relative;
}
.pt-60 {
    padding-top: 60px;
}
.char {
    display: block;
    transform: rotate(90deg);
}
.thanks {
    margin-bottom: 80px;
    overflow: hidden;
}
.thanks .wrap {
    width: 720px;
    height: 131px;
    border-bottom: 3px solid #131313;
}
.thanks .wrap::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 720px;
    z-index: 10;
    width: 1131311px;
    height: 3px;
    background: #131311;
}
.thanks .txt-wrap {
    position: relative;
    margin-top: 34px;
    margin-left: 55px;
    background: #fff;
}
.thanks .txt-wrap::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: -45px;
    z-index: 10;
    width: 332px;
    height: 3px;
    background: #fff;
}
.thanks .txt {
    margin-bottom: 10px;
    color: #45cdab;
    font-size: 40px;
    letter-spacing: 10px;
}
.thanks .link {
    position: relative;
    bottom: -5px;
    font-size: 33px;
    letter-spacing: 8px;
}
.thanks .link:hover {
    color: #45cdab;
}

.thanks .img {
    width: 110px;
}