.page-about {
    height: 100%;
}
.wrap {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
.back {
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 1;
}
.back-link {
    margin-right: 40px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 8px;
}
.back-link:hover {
    color: #45cdab;
}
.decorate {
    position: absolute;
    right: 0px;
    top: 80px;
}
.decorate .decorate-item{
    width: 22px;
    height: 6px;
    margin-bottom: 10px;
    background: #131311;
}
.decorate .title {
    width: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.decorate2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 6px;
    height: 50px;
    background: #45cdab;
}
.main-inner {
    width: 750px;
    /* height: 320px; */
    padding-bottom: 1px;
    text-align: left;
    background: url(../images/experience-line.png) repeat-y 7px 10px;
}
.project {
    position: relative;
    margin-bottom: 46px;
    padding-left: 56px;
}
.project::before {
    position: absolute;
    top: 7px;
    left: 0px;
    content: '';
    width: 16px;
    height: 16px;
    background: #45cdab;
}
.project .time {
    margin-bottom: 25px;
    line-height: 1;
    letter-spacing: 2px;
}
.project .year {
    color: #131313;
    font-size: 28px;
}
.project .month {
    color: #131313;
    font-size: 21px;
}
.project .company {
    margin-bottom: 40px;
    color: #131313;
    font-size: 27px;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 500;
}
.project .station {
    margin-left: 60px;
    color: #45cdab;
}
.project .duty-item {
    margin-bottom: 5px;
    color: #929292;
    font-size: 15px;
    line-height: 25px;
}
.project .duty-item .num {
    color: #131313;
    font-size: 17px;
}
