.step {
    padding-bottom: 60px;
}
.step .wrap {
    overflow: hidden;
}
.step.gray {
    background: #f4f4f6;
}
.step.black {
    background: #131311;
}
.step .num {
    color: #45cdab;
    font-size: 50px;
    line-height: 1;
}
.step .txt {
    width: 655px;
}
.step .title {
    margin-bottom: 15px;
    font-size: 18px;
}
.step .cont {
    font-size: 12px;
    line-height: 28px;
}

.step.black .title {
    color: #f4f4f6;
}
.step.black .cont {
    color: #f4f4f6;
}

.thinking {
    padding-bottom: 60px;
    overflow: hidden;
    background: #f4f4f6;
}

.thinking .item {
    width: 230px;
}
.thinking .item.center {
    margin: 0 15px;
}
.thinking .item .img {
    width: 230px;
    margin-bottom: 25px;
}
.thinking .item .h3 {
    margin-bottom: 15px;
    font-size: 18px;
}
.thinking .item .cont {
    color: #999;
    font-size: 12px;
    line-height: 24px;
}

.aimg {
    padding-bottom: 60px;
}
.aimg img {
    width: 100%;
    border-radius: 12px;
    border: 3px solid #131311;
}
.aimg.black{
    background: #131311;
}
.aimg.gray {
    background: #f4f4f6;
}
.aimg.black img {
    border-color: #131311;
}
