.page-about {
    height: 100%;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1180px;
    height: 500px;
    margin-left: -590px;
    margin-top: -250px;
}
.back {
    margin-bottom: 60px;
}
.back-link {
    font-size: 30px;
    letter-spacing: 8px;
}
.back-link:hover {
    color: #45cdab;
}
.decorate {
    position: absolute;
    right: 0px;
    top: 0px;
}
.decorate .decorate-item{
    width: 22px;
    height: 6px;
    margin-bottom: 10px;
    background: #131311;
}
.decorate .title {
    width: 24px;
    text-align: center;
    font-size: 24px;
}
.decorate2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 6px;
    height: 50px;
    background: #45cdab;
}
.bg {
    position: absolute;
    width: 520px;
    height: 580px;
    top: -40px;
    right: 73px;
    z-index: -1;
}
.main-inner {
    width: 750px;
    height: 320px;
    padding-top: 37px;
    padding-left: 330px;
    text-align: left;
    border: 3px solid #131311;
    background: #fff url(../images/show-9e3a1a.png) no-repeat 40px bottom;
    background-size: 255px 277px;
}
.project-col {
    width: 200px;
}
.project {
    position: relative;
    margin-bottom: 25px;
    padding-left: 26px;
}
.project::before {
    position: absolute;
    top: 4px;
    left: 0px;
    content: '';
    width: 16px;
    height: 16px;
    background: #45cdab;
}
.project-title {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
}

.project .project-item {
    color: #c8c8c8;
    font-size: 14px;
    line-height: 28px;
}
.project-item:hover {
    color: #131313;
}
