.project .project-title .txt::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -45px;
    width: 19px;
    height: 19px;
    border: 3px solid #fa9838;
    border-radius: 50%;
}
.component {
    padding-bottom: 60px;
    overflow: hidden;
}
.component.gray {
    background: #f4f4f6;
}
.component.black {
    color: #fff;
    background: #060608;
}
.component .wrap{
   width: 862px;
}
.component .intro {
    width: 230px;
}
.component .intro .logo {
    width: 45px;
    height: 45px;
    margin-bottom: 40px;
}
.component .intro .title {
    margin-bottom: 35px;
}
.component .intro .title .txt {
    position: relative;
    z-index: 1;
    font-size: 16px;
}
.component .intro .title .txt::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 8px;
    background: #fa9838;
}
.component .p {
    position: relative;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 22px;
}
.component .p::before {
    /* content: '';
    position: absolute;
    top: 6px;
    left: -22px;
    width: 12px;
    height: 12px;
    border: 3px solid #fa9838;
    border-radius: 50%;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; */
}
.component .img-show {
    /* overflow: hidden; */
    margin-left: 30px;
}
.component .img-show .poster{
    width: 180px;
    border: 3px solid #000;
    vertical-align: middle;
    border-radius: 12px;
}
.component .img-show .arrow {
    width: 12px;
    margin-left: 9px;
    margin-right: 9px;
    vertical-align: middle;
}
.component .img-show.middle {
    width: 100%;
    height: 40px;
}
.component .img-show.middle .arrow {
    float: right;
}
.component.black {
    color: #f4f4f6;
    background: #060608;
}
.component.black .intro .title .txt,
.component.black .p {
    color: #f4f4f6;
}
.standard {
    padding-top: 60px;
    color: #f4f4f6;
    background: #060608;
    overflow: hidden;
}
.standard .wrap {
    width: 862px;
}
.standard .function {
    height: 210px;
    margin-bottom: 40px;
}
.standard .function .item{
    position: relative;
    z-index: 0;
    width: 192px;
    margin-right: 143px;
}
.standard .function .item.last {
    margin-right: 0;
}
.standard .function .item h3{
    margin-bottom: 30px;
    color: #f4f4f6;
    font-size: 16px;
}
.standard .function .item .img {
    position: absolute;
    top: -5px;
    left: -15px;
    z-index: -1;
}
.standard .function .item p{
    position: relative;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 22px;
    color: #f4f4f6;
}

.standard .design {
    margin-bottom: 50px;
    height: 160px;
}
.standard .design .item{
    width: 335px;
    padding-right: 143px;
}
.standard .design .item.last {
    width: 192px;
    padding-right: 0;
}
.standard .design .item h3{
    margin-bottom: 30px;
    color: #f4f4f6;
    font-size: 14px;
}
.standard .design .item h3 .txt {
    position: relative;
    z-index: 0;
    color: #f4f4f6;
    font-size: 16px;
}
.standard .design .item h3 .txt::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 8px;
    background: #fa9838;
}
.color-wrap .color {
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.color-wrap .txt {
    font-size: 12px;
}
.color-wrap .color-fa9838 {
    background: #fa9838;
}
.color-wrap .color-f24545 {
    background: #f24545;
}
.color-wrap .color-b1b1b1 {
    background: #b1b1b1;
}
.color-wrap .color-ffffff {
    background: #ffffff;
}
.standard .design .item.font {
    padding-right: 0px;
}
.font .p1 {
    margin-bottom: 25px;
    color: #f4f4f6;
    font-size: 12px;
}
.font .p2 {
    margin-bottom: 25px;
    color: #f4f4f6;
    font-size: 30px;
}
.font .p3 span {
    margin-right: 5px;
    color: #f4f4f6;
    font-size: 12px;
}
.mark p{
    margin-bottom: 25px;
    color: #fff;
    font-size: 12px;
}
.mark img{
    width: 42px;
}